
#container {
    padding : 10pt;
}

.res-top{
    margin-top : 80px;
}

.quote{
    font-style: italic;
}

.sub-head{
    color : grey;
    font-style: italic;
}

.col {
    padding : 30px;
}

.main-title {
    font-size : 60px;
    padding: 20px;
    text-align: center;
}

.title {
    text-align: center;
    padding: 20px;
}

.description {
    padding : 20px;
    font-size: 18px;
}

/* images */
.img-responsive {
    width : 95%;
}

.arrow {
    width: 70%;
    height: 80%;
}


/* containers on research */
.two {
    background : lightgrey;
}

.box{
    border:#cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}