
#container {
    padding : 10pt;
}

.res-top{
    margin-top : 80px;
}

.quote{
    font-style: italic;
}

.sub-head{
    color : grey;
    font-style: italic;
}

.col {
    padding : 30px;
}

.img-responsive {
    width : 95%;
    
}

.main-title {
    font-size : 60px;
    padding: 20px;
    text-align: center;
}

.title {
    text-align: center;
    padding: 20px;
}

.description {
    padding : 20px;
    font-size: 18px;
}